<div class="container">
    <h4>{{ game.getPlayer().name }} Turn</h4>
    <div class="alert alert-primary" role="alert">
        Turn score: {{ game.getTurn().getScore() }}
    </div>

    <div class="container" style="margin-bottom: 10px;">
    {% for val in game.values() %}


            <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <title>Dice</title>
                <rect fill="#8e44ad" width="100%" height="100%" rx="15" ry="15"></rect><text fill="#ffffff" dy=".3em" x="50%" y="50%">{{ val }}</text>
            </svg>



    {% endfor %}

    </div>

    {% if game.getTurn().isOver() %}
    <div class="alert alert-danger" role="alert">
        Sorry - You loose :(
    </div>
    {% else %}
    <a href="{{  path('game_roll') }}" class="btn btn-primary" id="roll">Roll</a>
    {% endif %}
    <a href="{{  path('game_end_turn') }}" class="btn btn-success" id="end">End Turn</a>

</div>


